POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pipeline
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
AIRFLOW_FERNET_KEY=changeme
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme
CLICKHOUSE_USER=changeme
CLICKHOUSE_PASSWORD=changeme
SUPERSET_SECRET_KEY=changeme
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=changeme
